* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
}

.forminput {
    padding: 20px 0;
    background-size: cover;

}

.container {
    padding: 20px;
}

.inputtxt {
    max-width: 600px;
    border: none;
    margin: 5px;
    border-radius: 0%;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.navbar a {
    color: rgb(11, 70, 86);
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
}

#Gallery {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    max-width: 1200px;
    margin: auto;
    columns: 4 280px;
    column-gap: 12px;
    font-size: 1.2rem;
}

.photo {
    width: 100%;
    padding: 5px;
    text-align: center;
    margin: 0 0 1rem;
    display: inline-block; /* stops block being split across columns. Could use break-inside: avoid for modern browsers; */
    break-inside: avoid;
    text-align: center;
    font-weight: bold;

}

.photo a {
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    color: black;


}

.photo a:hover {
    background-color: rgb(27, 27, 27);
    color: white;
}

.photo img {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgb(219, 218, 218);
}

.btn {
    background: rgb(35, 35, 35);
    color: white ;
    padding: 0 50px;

}
.btn:hover{
    color: white ;
    background: rgb(11, 70, 86);
}

.loaddiv {
    display:none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.load {
    text-align: center;
    text-decoration: none;
    padding: 5px 12px;
    background: black;
    color: white;
}

.load:hover {
    color: black;
    background: white;
    border: 1px solid black;
}